<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll no</th>
                    <th scope="col">Admn no</th>
                    <th scope="col">college</th>
                    <th scope="col">Department</th>
                    <th scope="col">Blood grp</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Parent</th>
                    <th scope="col">Parent email</th>
                    <th scope="col">guardian</th>
                    <th scope="col">guardian address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>