<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll no</th>
                    <th scope="col">Admn no</th>
                    <th scope="col">college</th>
                    <th scope="col">Department</th>
                    <th scope="col">Blood grp</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Parent</th>
                    <th scope="col">Parent email</th>
                    <th scope="col">guardian</th>
                    <th scope="col">guardian address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewStudent">
                    <td>{{i.name}}</td>
                    <td>{{i.roll}}</td>
                    <td>{{i.adm}}</td>
                    <td>{{i.college}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.blood}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.parent}}</td>
                    <td>{{i.parentemail}}</td>
                    <td>{{i.guardian}}</td>
                    <td>{{i.address}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>